   	<div id="footer-wrapper">
		<div class="left">
					<div class="right">
      		<div id="footer" class="clearfix">
					<h5><b>Find Your Way:</b></h5>
        		<div class="footlist first">
        			<b>VoteWize</b>
        		</div>
      			<div class="footlist">
      				<b>Go to</b>
      			</div>
      			<div class="footlist">
      				<b>Go to</b>
      				<ul>

					</ul>
      			</div>		
      			
      			<div class="footlist last">
      				<b>My VoteWize</b>
      					<ul>

									
									<li><%= link_to "Tracked Items" %></li>
									<li><%= link_to "Actions" %></li>
									<li><%= link_to "Friends" %></li>
									<li><%= link_to "My Political Notebook" %></li>
									<li><%= link_to "My Profile" %></li>
									<li><%= link_to "Logout" %></li>
									<li><%= link_to "Login" %></li>
						</ul>
					</div>
					</div>
				 	</div>
